<div class="jumbotron">
    <h1 class="title">18K Offer</h1>
    <p class="slogan">18K Offer 是一个提供18K薪水工作机会的求职网站。
    <br>
    我们希望藉由这个网站，能让大家找到且应征上高薪且优质的工作。
    <br>
     凭借自己的努力和天份也会变 Winner
    </p>
    <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">马上应征</a></p>
  </div>
  <section id="company">
  <div class = "container-fluid">
    <div class="row">
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://ww3.sinaimg.cn/large/006tKfTcgy1fbx9bcamgnj303k03kq2p.jpg" alt="search" class = "img-thhumbnail">
          <div class="caption">
            <h3>南宁地王大厦</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://ww1.sinaimg.cn/large/006tKfTcgy1fbx979gwrtj303o03odfl.jpg" alt="bid" class = "img-thhumbnail">
          <div class="caption">
            <h3>xiaoguaishou0809@gmail.com</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://ww3.sinaimg.cn/large/006tKfTcgy1fbx94e8om3j303o03o742.jpg" alt="heart" class = "img-thhumbnail">
          <div class="caption">
            <h3>400-500-6666</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--<select class="form-control">
  <option>1</option>
  <option>2</option>
  <option>3</option>
  <option>4</option>
  <option>5</option>
</select> -->
