/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";

 .jumbotron {
  background-image:url('http://i.huffpost.com/gen/1747729/images/o-SUCCESS-AND-MOTIVATION-facebook.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 110px;
}

.title {
  font-family: "Helvetica Neue", "Microsoft Yahei", 微软雅黑;
  text-align: left;
  margin-top: 200px;
  margin-bottom: 80px;
}

.slogan {
  margin-top: 10px;
  margin-bottom: 50px;
  text-align: left;
  color: #99999;
  top: 12px;
}

.lead {
  margin-bottom: 60px;
  text-align: center;
  color: white;
}

.caption {
  margin: 30px;
  text-align: center;
  top: 20px;
}

.thumbnail {
    border: 0 none;
    box-shadow: none;
    margin-top: 60px;
}

.custab{
  border: 1px solid #ccc;

  padding: 5px;
  margin: 5% 0;
  box-shadow: 3px 3px 2px #ccc;

  transition: 0.5s;
}

.custab:hover{
  box-shadow: 3px 3px 0px transparent;
  transition: 0.5s;
}

.navbar-default {
    background-color: #F7F7F7;//背景颜色
    border-color: #F7F7F7;//边框色
    margin-bottom: 0;//底部 margin 不撑开距离
}
.search {
  display: block;
  margin: 0 auto;
      }

/*Footer*/
footer {
    background-color: #f7f7f7;
    padding: 35px 15px;
    margin-top: 0;
    color: #757575;
    color: rgba(0, 0, 0, 0.54);
    font: 400 14px 'Roboto', sans-serif;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #d4d6e2;
    border-color: rgba(0, 0, 0, 0.03);
    text-align: center;
}
/*footer .findSocial {
    margin-top: 24px;
    font-weight: 400;
}*/
footer a, footer a:visited, footer a:active {
    text-decoration: none;
    color: #757575;
    color: rgba(0, 0, 0, 0.54);
    line-height: 27px;
}
footer .fa {
    font-size: 28px;
    padding: 10px 11px;
}

/* footer */
