<footer class="new-footer">
        <div class="container">
          <div class="findSocial">
          <a target="_blank" href="https://plus.google.com/" class="fa fa-google-plus"><span class="sr-only">Google Plus</span></a>
          <a target="_blank" href="https://www.facebook.com/" class="fa fa-facebook"><span class="sr-only">Facebook</span></a>
          <a target="_blank" href="https://twitter.com/" class="fa fa-twitter"><span class="sr-only">Twitter</span></a>
          <a target="_blank" href="https://www.instagram.com/" class="fa fa-instagram"><span class="sr-only">Instagram</span></a>
          <a target="_blank" href="https://www.youtube.com/" class="fa fa-youtube"><span class="sr-only">YouTube</span></a>
          </div>
          <p class="copyrights"> Copyright © 2017 - <a href="/">weiyueyan</a></p><p class="patents">
  <span class="hidden-xs">U.S. Patents No. 6,588,930 B1; 6,777,677 and 7,123,222 - </span> - V: 2017.1.0.10-311</p>
        </div>
</footer>
