<footer class="new-footer">
        <div class="container">
          <div class="findSocial">
          <a target="_blank" href="https://plus.google.com/+monsteruk" class="fa fa-google-plus"><span class="sr-only">Google Plus</span></a>
          <a target="_blank" href="https://www.facebook.com/monster.co.uk" class="fa fa-facebook"><span class="sr-only">Facebook</span></a>
          <a target="_blank" href="https://twitter.com/Monster_UK" class="fa fa-twitter"><span class="sr-only">Twitter</span></a>
          <a target="_blank" href="https://www.instagram.com/monsterjobsuk/" class="fa fa-instagram"><span class="sr-only">Instagram</span></a>
          <a target="_blank" href="https://www.youtube.com/monsteruk" class="fa fa-youtube"><span class="sr-only">YouTube</span></a>
          </div>
          <p class="copyrights"> Copyright © 2016 - <a href="http://www.monster.com/">Monster Worldwide</a></p><p class="patents">
  <span class="hidden-xs">U.S. Patents No. 7,599,930 B1; 7,827,125 and 7,836,060 - </span> - V: 2017.1.0.10-311</p>
        </div>
</footer>
